

.flex{
    display: grid;
    align-items: center;
    justify-content: flex-end;
    grid-template-columns: repeat(2,1fr);
    margin-left: 7rem;
}
.card{
 width: 20rem;
}

@media (max-width: 768px){
    
.card{
    width: 10rem;
    height: 100px;
    margin-top:5rem;
   }
}